#author-text {
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-style: italic;
}

.author {
  min-width: 1352px;
  min-height: 10px;
}

#masthead-container {
  height: 56px;
  min-width: 1352px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

#container {
  height: 56px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
}

#start {
  height: 56px;
  width: 169px;
  background-color: lightcoral;
  align-items: center;

}

#name-label{
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-style: italic;
}

#center {
  height: 40px;
  width: 728px;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: lightseagreen;
}

#search-bar {
  height: 24px;
  width: 524px;
  background-color: lightcoral;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;

  position: relative;
  align-items: center;

  border-right-color: currentcolor;
  border-right-style: none;
  border-right-width: medium;

  border-top-left-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 2px;

  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;

  margin-left: 34px;

}

#search-bar-input {
  height: 24px;
  width: 524px;
  font-family: Roboto,Noto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  box-shadow: none;
}

#search-bar-button {

  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
  background-color: khaki;
  align-items: center;

  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;

}


#button-voice {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
}

#end {
  height: 40px;
  width: 225px;
  background-color: khaki;
}

.columns-class {
  width: 1352px;
  height: 3255px;
  min-width: 1352px;
  min-height: 3255px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background-color: teal;
}

#primary {
  width: 640px;
  height: 3230px;
  padding-top: 24px;
  padding-right: 24px;
  margin-left: 24px;
  background-color: cadetblue;
}

#secondary {
  width: 402px;
  height: 3230px;
  padding-top: 24px;
  padding-right: 24px;
  background-color: lightblue;
}

#player {
  height: 360px;
  width: 640px;
  background-color: darkseagreen;
}

#video-player {
  height: 360px;
  width: 640px;
}




#below {
  height: 2870px;
  width: 640px;
  background-color: coral;
}

#info {
  height: 95px;
  width: 640px;
  background-color: darkseagreen;
}

#title-video {
  height: 26px;
  width: 640px;

  line-height: 2.6rem;
  font-weight: 400;
  max-height: 5.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: row;

}



#meta{
  height: 181px;
  width: 640px;
  background-color: lightblue;
}



#related {
  height: 2500px;
  width: 402px;
  background-color: lightblue;
}

#player-ads {
  height: 163px;
  width: 402px;
  background-color: khaki;
}

#items {
  height: 2338px;
  width: 402px;
  background-color: slategray;
}

#dismissible {

  height: 94px;
  width: 402px;

  background-color: lightcoral;
}



.start-browser-tab {
  display: flex;
  flex-direction: row;
  padding: 0px 56px;
  align-items: center;
  background-color: yellow;

}

.center-browser-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 728px;
  min-width: 0px;
  min-height: 56px;
  /*background-color: green;*/

}

.search-center-browser-tab {
  flex: 0 1 525px;
  min-width: 525px;
}

.end-browser-tab {
  min-width: 225px;
  align-items: center;
  justify-content: flex-end;
  background-color: blue;

}

.label-logo_youtube {
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.search-center-browser-tab {
  min-height: 36px;
  background: transparent;
  min-width: 525px;
}



#search-icon-legacy {
  border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
  background-color: var(--ytd-searchbox-legacy-button-color);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
}
